@{
    ViewData["Title"] = "Certifications And Education";
}

<h2 style="color:green">Certifications</h2>
<ul>
    <li>
        <h3>SCRUM Fundamentals Certified (SFC)</h3>
        <p>
            SCRUMstudy -Accreditation Body forScrum and Agile.
            Issued April 2023.
            No Expiration Date
            Credential ID 974391
        </p>
    </li>

</ul>

<h2 style="color:green">Education</h2>
<ul>
    <li>
        <h3>University of Port-Harcourt</h3>
        <p>
            Bachelor of Engineering; Major in Mechanical Engineering.
        </p>
    </li>

</ul>