@{
    ViewData["Title"] = "Work Experience";
}

<h2 style="color: green;">Work Experience</h2>

<h3>Sterling Bank, Lagos - Software Developer</h3>
<p><strong>Contract, Hybrid</strong></p>
<p><strong>December 2023 - Present</strong></p>
<p><strong>Project in development:</strong></p>
<p>Sterling Pro - A corporate internet banking solution that helps corporate bodies perform banking functions and transactions seamlessly.</p>
<p>Designed and implemented RESTful APIs following best practices to enable efficient communication between the frontend and backend systems.</p>
<p><strong>Features worked on:</strong></p>
<ul>
    <li><strong>Remita:</strong> Integrated with Remita payment gateway to allow users to perform everyday bills payment.</li>
    <li><strong>Bento Payroll:</strong> Implemented Bento Payroll to allow users to facilitate payroll transactions.</li>
    <li><strong>PAPSS Transfers:</strong> Enabled PAPSS Transfers for cross-border payments within Africa.</li>
</ul>
<p><strong>Technologies used:</strong> C#, ASP.NET Core, ASP.NET Web API, PostgreSQL, PostMan, Apache Kafka, AutoMapper, Redis Cache.</p>

<h3>Uriduim Technologies, Lagos - Software Developer</h3>
<p><strong>Full-Time, Hybrid</strong></p>
<p><strong>November 2022 - November 2023</strong></p>
<p>Developed and maintained ASP.NET Core Web API applications for providing robust backend services.</p>
<p>Implemented RESTful APIs following best practices to enable efficient communication between frontend and backend systems.</p>
<p>Implemented MVC applications following best practices to enable efficient communication between frontend and backend systems.</p>


