@{
    ViewData["Title"] = "Overview";
}

<h2>Kenneth Edoho</h2>
<p>
    Kenneth Edoho is a seasoned Software Engineer with extensive
    hands-on experience in ASP.NET for building Web APIs, Worker
    Services, and .NET microservices. I excel in designing agile
    software with ASP.NET Core and Blazor, following DRY and
    SOLID principles. Beyond coding, I bring strong problem-solving
    skills, am a team player, eager to learn, a critical thinker, and an
    effective communicator.
</p>
<p>Email: kennethtibele@gmail.com</p>
<p>Phone: +2348138933344</p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/kennycode/">Kenneth Edoho</a></p>
<p>GitHub: <a href="https://github.com/Kenneth075">Kenneth075</a></p>
