@{
    ViewData["Title"] = "Skills";
}

<h2 style="color:green">Skills</h2>
<ul>
    <li>C#</li>
    <li>ASP.NET Core</li>
    <li>ASP.NET Web API</li>
    <li>MS SQL, PostgreSQL, MongoDB</li>
    <li>Apache Kafka,RabittMQ, Redis Cache</li>
    <li>Azure</li>
</ul>
