@model IEnumerable<GalleryItem>

@{
    ViewData["Title"] = "Gallery";
}

<h2>Image Gallery</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="@item.ImagePath" alt="@item.Title" />
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">Uploaded on: @item.UploadDate.ToShortDateString()</p>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid" alt="Preview" />
            </div>
        </div>
    </div>
</div>
